@use 'abstracts' as *;

.container {
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  

  @media (min-width: $breakpoint-sm) {
    width: 100%;
  }
  @media (min-width: $breakpoint-md) {
    width: 72rem;
  }
  @media (min-width: $breakpoint-lg) {
    width: 96rem;
  }
  @media (min-width: $breakpoint-xl) {
    width: 114rem;
  }
}
