<header class="cabecalho">
  <div class="container-header">
    <nav class="menu-principal" [class.menu-principal--fechado]="!menuAberto()">
      <a class="logo" routerLink="/">Design Responsivo</a>

      <ul class="menu-principal__lista">
        <li>
          <a
            class="menu-principal__item"
            routerLink="/"
            routerLinkActive="menu-principal__item--atual"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            class="menu-principal__item"
            routerLink="/sobre"
            routerLinkActive="menu-principal__item--atual"
            >Sobre nós</a
          >
        </li>
        <li>
          <a
            class="menu-principal__item"
            routerLink="/portfolio"
            routerLinkActive="menu-principal__item--atual"
            >Portfolio</a
          >
        </li>
        <li>
          <a
            class="menu-principal__item"
            routerLink="/contato"
            routerLinkActive="menu-principal__item--atual"
            >Contato</a
          >
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-principal__btn" (click)="alternarMenu()">
      <span class="menu-principal__btn-icone">
        @if (menuAberto()) {
          <app-icon-menu-fechar [tamanho]="24" [cor]="'#3a3a3a'" />
        } @else {
          <app-icon-menu-abrir [tamanho]="24" [cor]="'#3a3a3a'" />
        }
      </span>
      <span class="sr-only">Abrir/fechar menu</span>
    </button>
  </div>
</header>
