@use 'abstracts' as *;

.pagina-cabecalho {
  background-color: $cor-principal;
  background-image: url('/img/cabecalho-pagina-bg.jpg');
  background-attachment: fixed;
  color: #fff;
  padding-top: 14rem;
  padding-bottom: 4rem;

  &__titulo {
    text-align: center;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      width: 5rem;
      height: 0.3rem;
      background-color: #fff;
      margin: 2rem auto 0;
    }
  }
}
