@use 'abstracts' as *;

.rodape {
  color: #fff;

  .logo {
    margin-bottom: 2rem;
  }

  &__linha-1 {
    background-color: #272525;
    background-image: url('/img/rodape-bg.jpg');
    background-size: cover;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__linha-2 {
    background-color: #000;
    text-align: center;
    padding: 1.5rem;
  }

  &__coluna {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
  }

  &__titulo {
    border-bottom: 0.1rem solid #fff;
    padding: 0 1rem 1rem 1rem;
    font-size: 1.8rem;
  }

  &__lista-links {
    padding: 0;
    list-style: none;
  }

  &__lista-links__item {
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
    display: block;

    &::before {
      content: '>';
      margin-right: 0.8rem;
      color: $cor-principal;
    }
  }

  @media (min-width: $breakpoint-md) {
    &__linha-1 {
      background-image: url('/img/rodape-bg-md.jpg');
      flex-wrap: nowrap;
    }

    .container {
      display: flex;
    }

    &__coluna {
      width: 33.333%;
      padding: 0 1.5rem;
    }
  }

  @media (min-width: $breakpoint-xl) {
    &__linha-1 {
      background-image: url('/img/rodape-bg-xl.jpg');
    }
  }
}
