<footer class="rodape">
  <div class="rodape__linha-1">
    <div class="container">
      <div class="rodape__coluna">
        <a routerLink="/" class="logo logo--branco">Design Responsivo</a>
        <p>
          Nullam ac semper lectus. Sed sit amet<br />
          ornare nisi. Proin cursus ligula eu eros<br />
          volutpat egestas. Suspendisse potenti.<br />
          Pellentesque.
        </p>
      </div>
      <div class="rodape__coluna">
        <h2 class="rodape__titulo">Social</h2>
        <ul class="rodape__lista-links">
          <li>
            <a class="rodape__lista-links__item" href="https://twitter.com/LucasDH3" target="_blank" rel="noopener"
              >Twitter</a
            >
          </li>
          <li>
            <a
              class="rodape__lista-links__item"
              href="https://www.facebook.com/lucas.danieldeholanda"
              target="_blank"
              rel="noopener"
              >Facebook</a
            >
          </li>
          <li>
            <a
              class="rodape__lista-links__item"
              href="https://www.instagram.com/lucasdh54"
              target="_blank"
              rel="noopener"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
      <div class="rodape__coluna">
        <h2 class="rodape__titulo">Links</h2>
        <ul class="rodape__lista-links">
          <li><a class="rodape__lista-links__item" routerLink="/">Home</a></li>
          <li><a class="rodape__lista-links__item" routerLink="/sobre">Sobre nós</a></li>
          <li><a class="rodape__lista-links__item" routerLink="/portfolio">Portifolio</a></li>
          <li><a class="rodape__lista-links__item" routerLink="/contato">Contato</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="rodape__linha-2">{{ anoAtual }} - Todos os direitos reservados - Lucas D.H</div>
</footer>
