@use 'abstracts' as *;

.pagina-contato {
  .pagina-conteudo {
    @media (min-width: $breakpoint-md) {
      padding-right: 15rem;
      padding-left: 15rem;
    }
  }
}

.formulario {
  background-color: #efecec;
  margin: 8rem -1.5rem;
  padding: 4rem 1.5rem;
  box-shadow: 0 0.3rem 0.5rem #989898;
  display: flex;
  flex-wrap: wrap;

  &__erro {
    width: 100%;
    background: #f00;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }

  &__sucesso {
    width: 100%;
    background: #00a91e;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }

  &__grupo {
    margin-bottom: 1rem;
    width: 100%;
  }

  &__campo {
    width: 100%;
    border: 0.1rem solid #c4c4c4;
    border-radius: 0.5rem;
    padding: 1rem 0.4rem;
  }

  &__label {
    color: #343434;
  }

  &__botao {
    border: 0.3rem solid $cor-principal;
    border-radius: 30rem;
    background-color: #fff;
    color: $cor-principal;
    padding: 0.5rem 2rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-weight: bold;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  label.error {
    border-left: 0.4rem solid #f00;
    padding-left: 0.4rem;
    color: #f00;
    margin-left: 0.4rem;
    display: block;
  }

  @media (min-width: $breakpoint-md) {
    padding-bottom: 0;

    &__grupo--coluna-esq {
      width: 50%;
      padding-right: 1.5rem;
    }
    &__grupo--coluna-dir {
      width: 50%;
      padding-left: 1.5rem;
    }
    &__botao {
      font-size: 2rem;
      transform: translateY(-3.5rem);
    }
  }
}

.mapa {
  background: $cor-principal;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 -1.5rem -2.5rem -1.5rem;

  iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: 45rem) {
    padding-bottom: 60%;
  }
  @media (min-width: $breakpoint-md) {
    padding-bottom: 40%;
  }
  @media (min-width: $breakpoint-lg) {
    padding-bottom: 25%;
  }
}
