@use 'abstracts' as *;

.cabecalho-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('/img/cabecalho-home-bg.jpg') #000 no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 33rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;
    top: 5rem;
  }

  &__titulo {
    font-size: 4rem;
    margin: 0rem;
  }

  &__subtitulo {
    margin: 0rem;
  }

  &__role {
    display: none;
  }

  @media (min-width: $breakpoint-md) {
    background-image: url('/img/cabecalho-home-bg-md.jpg');
  }

  @media (min-width: $breakpoint-lg) {
    height: 100vh;
    gap: 0.4rem;

    &__titulo {
      font-size: 6rem;
      margin: 0rem;
      //margin-top: 2.5rem;
    }

    &__subtitulo {
      font-size: 2.2rem;
      margin: 0rem;
    }

    &__role {
      display: flex;
      position: absolute;
      background: url('/img/icone-mouse.png') no-repeat center right;
      color: #fff;
      bottom: 1rem;
      left: 50%;
      height: 5rem;
      width: 19rem;
      text-align: left;
      font-size: 2rem;
      text-decoration: none;
      line-height: 4.5rem;
      align-self: center;
      margin-left: -9.5rem;
    }
  }

  @media (min-width: $breakpoint-xl) {
    background-image: url('/img/cabecalho-home-bg-xl.jpg');
  }
}

.home__titulo {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5rem;

  &::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: $cor-principal;
    margin: 1.5rem auto 0;
  }

  &--branco::after {
    background-color: #fff;
  }
}

.servicos {
  padding: 3rem 0;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
  }

  &__item {
    text-align: center;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    flex: 1 1 100%;

    @media (min-width: $breakpoint-md) {
      flex: 1 1 calc(33.333% - 2rem);
    }
  }

  &__texto {
    color: $cor-leitura;
  }
}

.depoimentos {
  background-color: $cor-principal;
  background-image: url('/img/cabecalho-pagina-bg.jpg');
  background-attachment: fixed;
  color: #fff;
  padding: 3rem 0;

  @media (min-width: $breakpoint-md) {
    padding: 15rem 0;
  }
}
