* {
  box-sizing: border-box;
}

// Faz com que 1rem equivalha a 10px (10px / 16px = 62.5%),
// facilitando a conversão de medidas em rem no restante do projeto.
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  max-height: auto;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
}
